{
  "active_model": "gemini-1.5-pro-latest",
  "key": '",
  "page_limit": 7,
  "prompt": "The following images show a local government document. Could you summarize the contents in two or three sentences?",
}