awslambdaric==3.0.0
backports.tarfile==1.2.0
boto3==1.35.92
dotenv==0.9.9
importlib-metadata==8.0.0
jaraco.collections==5.1.0
llm-anthropic==0.14.1
llm-command-r==0.2
llm-gemini==0.12
pdf2image==1.17.0
pip-chill==1.0.3
platformdirs==4.2.2
tomli==2.0.1