dotenv==0.9.9
en-core-web-sm==3.7.1
isort==6.0.0
llm-anthropic==0.14.1
llm-cohere==1.0
llm-command-r==0.2
llm-gemini==0.12
llm-ollama==0.8.2
pathy==0.11.0
pdf2image==1.17.0
pip-chill==1.0.3
py-cpuinfo==9.0.0
pytz==2025.1
scikit-learn==1.6.1
spacytextblob==5.0.0
tiktoken==0.9.0
transformers==4.49.0
tzdata==2025.1
spacy==3.7